* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: auto;
  background-color: transparent;
  height: 4000px;
  margin: auto;
}
/* Start Header */

.header .slider .intro h2 {
  margin: 0 auto;
  font-size: 50px;
  text-shadow: 5px 5px 5px #252f31;
  /*width: 650px;*/
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  padding: 5px 0;
}

.header .slider .intro button {
  background: none;
  color: #fff;
  /*width: 140px;*/
  margin-top: 40px;
  font-size: 20px;
  border: 2px solid #fff;
  font-weight: bold;
  padding: 10px 30px;
}

.header .navbar {
  background-color: #252f31;
  color: #fff;
  overflow: hidden;
  /*text-transform: uppercase;*/
}

.header .navbar h2 {
  float: left;
  text-transform: uppercase;
}

.header .navbar h2 span {
  color: #2ecc71;
}

.header .navbar ul {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
  float: right;
}

.header .navbar ul li {
  float: left;
  padding: 10px;
}

.header .navbar ul li a {
  color: #fff;
  text-decoration: none;
}

.header .navbar ul li.active a,
.header .navbar ul li a:hover {
  color: #2ecc71;
}
/* End Header */

/* main content start */
h2 {
  text-align: center;
  color: greenyellow;
  margin-bottom: 50px;
}
.homepicture {
  margin: 0 auto; /* Center the image horizontally */
  height: 300px;
  width: 300px;
  display: block;
  margin-bottom: 10px;
  border-radius: 10px;
}
/*pageintro start */
.aboutme {
  margin-left: 50px;
  margin-right: 50px;
  font-weight: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-style: normal;
  color: black;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 50px;
}
/* pageintro end */

/* about start */
.about {
  justify-content: center;
  text-align: center;
  font-weight: bold;
  color: greenyellow;
}
.aboutme {
  justify-content: center;
  text-align: center;
  font-weight: bold;
}
.animate__animated animate__backInRight {
  animation-duration: 2s;
}
.animate__animated animate__bounceInLeft {
  animation-duration: 2s;
}
.animate__animated animate__bounceInRight {
  animation-duration: 2s;
}

.skills {
  text-align: center;
  justify-content: space-around;
  color: white;
  background-color: grey;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 10px;
}
/* toggle switch */

/* From Uiverse.io by arghyaBiswasDev */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: #adb5bd;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #007bff;
  border: 1px solid #007bff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
  transform: translateX(1.4em);
  background-color: #fff;
}
